.partners {
	background: #08090b;
	position: relative;
	overflow: hidden;
}
.partners::after {
	position: absolute;
	bottom: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: linear-gradient(
			90deg,
			rgba(64, 193, 251, 0) 8.36%,
			#40c1fb 50.39%,
			rgba(64, 193, 251, 0) 91.67%
		),
		#252c41;
}
.light2 {
	position: absolute;
	width: 277.743px;
	height: 127.525px;
	transform: rotate(-52.395deg);
	flex-shrink: 0;
	background: linear-gradient(
		179deg,
		rgba(0, 230, 244, 0.31) -1.51%,
		rgba(0, 230, 244, 0) 80.46%
	);
	filter: blur(53.5px);
	left: 25%;
	top: 30%;
}
.light1 {
	width: 368px;
	height: 132px;
	flex-shrink: 0;
	border-radius: 368px;
	background: rgba(57, 184, 255, 0.32);
	filter: blur(200px);
	position: absolute;
	z-index: -1;
	left: -100px;
}
.partners_content {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	gap: 220px;
	padding-top: 88px;
	padding-bottom: 88px;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}
.partners_left {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	max-width: 680px;
}
.partners_text {
	color: #d5eaff;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 445;
	line-height: 64px; /* 133.333% */
}
.partners_descp {
	color: #464e62;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160.023%; /* 28.804px */
}
.partners_right {
	display: flex;
	gap: 100px;
	justify-content: space-between;
}
.partners_leftImg {
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.partners_rightImg {
	display: flex;
	flex-direction: column;
	gap: 69px;
}
@media (width <= 1380px) {
	.partners_content {
		flex-direction: column;
		gap: 88px;
	}
}
@media (width <= 662px) {
	.partners_leftImg {
		display: flex;
		flex-direction: row;
		gap: 36px;
		align-items: center;
		justify-content: center;
	}
	.partners_rightImg {
		display: flex;
		flex-direction: row;
		gap: 36px;
		align-items: center;
		justify-content: center;
	}
	.partners_right {
		flex-direction: column;
		gap: 88px;
	}
}
@media (width <= 490px) {
	.partners_text {
		font-size: 30px;
		margin-top: 20px;
		line-height: normal;
	}
	.partners_content {
		padding-top: 20px;
		padding-bottom: 80px;
		gap: 30px;
	}
	.partners_right {
		gap: 20px;
	}
	.partners_right {
		transform: scale(0.5);
	}
}
