.register_button {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border-radius: 6px;
	border-top: 1px solid rgba(255, 255, 255, 0.183);
	color: #cee7ff;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: radial-gradient(100.04% 100% at 50% 0%, #26314e 0%, #1e253c 100%);
	transition: 0.2s;
}
.register_button::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background: radial-gradient(100.04% 100% at 50% 0%, #676e87 0%, #1e253c 100%);
	border-radius: 6px;
	opacity: 0;
	z-index: -1;
	transition: 0.2s;
}
.register_button:hover::after {
	opacity: 1;
}
@media (width <= 460px) {
	.register_button {
		font-size: 16px;
	}
}
