.not_found {
	display: flex;
	flex-direction: column;
}
.not_found_content {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
}
