.mobile_header {
	position: fixed;
	z-index: 99;
	top: 61px;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 20px;
	padding-right: 20px;
	background: #08090b;
	transform: translateX(-200vw);
	transition: transform 0.5s;
	overflow: hidden;
}
.overflow_hidden {
	overflow: hidden !important;
}
.mobile_header_active {
	transform: translateX(0);
}
.mobile_nav {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.mobile_nav_links {
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style: none;
}
.mobile_nav_link {
	font-size: 18px;
	font-style: normal;
	font-weight: 445;
	line-height: normal;
}
.mobile_nav_buttons {
	display: flex;
	gap: 10px;
}
